body{
    font-family: 'Roboto Slab', serif;
}


.bg-yellow{
    background-color: #FFC017;
}
.border-bottom-dark{

    border-bottom: 1px dashed #222;
}
.border-bottom-gray{

    border-bottom: 1px solid rgb(223, 221, 221);
    /* opacity: ; */
}

.number{
  
    font-size: 30px;
    color: rgb(177, 170, 170);
    font-weight: 700;
}

.font-size-3{
   font-size: 10px;
   color: black;
   font-weight: bold;
   
}
.font-weight-900{
    font-weight: 900;
}
.font-size-12{
    font-size: 12px;
}